:root {
  --clr-green: #507822;
  --clr-text: #212329;
  --clr-purple: #982fab;
  --clr-mulberry: #94174c;
  --clr-orange: #f18f2e;
  --font-sans-stack: ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  color: var(--clr-text);
  font: 400 16px/1.6em var(--font-sans-stack);
}

a {
  color: var(--clr-purple);
}

a:focus,
a:hover {
  color: var(--clr-mulberry);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1,
h2 {
  font-weight: 500;
  line-height: 1.2;
}

h1,
h1 a,
h2,
h2 a {
  color: var(--clr-green);
}

h1 a:focus,
h1 a:hover,
h2 a:focus,
h2 a:hover {
  color: var(--clr-green);
}

h3,
h4,
h5,
h6 {
  color: var(--clr-text);
  font-weight: 400;
  line-height: 1.3;
}

h3 a,
h4 a,
h5 a,
h6 a {
  color: var(--clr-text);
}

h3 a:focus,
h3 a:hover,
h4 a:focus,
h4 a:hover,
h5 a:focus,
h5 a:hover,
h6 a:focus,
h6 a:hover {
  color: #535353;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 12px;
}

[type="reset"],
[type="submit"],
button,
html [type="button"] {
  -webkit-appearance: button;
}

button,
select {
  text-transform: none;
}

button,
input {
  overflow: visible;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.site-header {
  display: grid;
  grid-template-areas: 'brand' 'main-nav';
  gap: 10px 0;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #d2d5d9;
  padding: 10px 20px;
}

@media screen and (min-width: 768px) {
  .site-header {
    grid-template-areas: 'brand main-nav';
    grid-template-columns: auto auto;
    gap: 0 10px;
    justify-content: space-between;
  }
}

.brand {
  grid-area: brand;
  text-align: center;
}

.brand img {
  display: inline-block;
  max-width: 180px;
  height: auto;
}

.main-nav {
  grid-area: main-nav;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0 25px;
}

.main-nav a {
  text-decoration: none;
}

.main-nav a:hover,
.main-nav a:focus {
  text-decoration: underline;
}

.main-nav a[aria-current=page] {
  color: var(--clr-orange);
}

.site-main {
  padding: 30px 20px 0;
}

@media screen and (min-width: 768px) {
  .site-main {
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 0 0;
  }
}

.site-main p,
.site-main ul {
  margin-top: 25px;
}

.site-main li + li {
  margin-top: 15px;
}

.site-main img {
  display: inline-block;
  max-width: 100%;
  height: auto;
}

.site-footer {
  padding-block: 40px 20px;
  text-align: center;
  color: #828689;
  font-size: 0.9rem;
  line-height: 1.35;
}

.site-footer small {
  font-size: 0.8rem;
}

.site-footer a {
  text-decoration: none;
}

.site-footer a:hover,
.site-footer a:focus {
  text-decoration: underline;
}


/* BUTTONS / FORMS */

.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.btn {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  align-items: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  font-size: 20px;
  font-weight: 600;
  justify-content: space-between;
  padding: 6px 12px;
  text-align: left;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn-register {
  background-color: var(--clr-orange);
  color: #fff;
}

.btn-register:focus,
.btn-register:hover {
  background-color: #ec7d10;
  color: #fff;
}

.sponsors {
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.sponsors a {
  display: block;
  width: calc(50% - 30px);
}

@media screen and (min-width: 768px) {
  .sponsors a {
    width: 220px;
  }
}

.results-header dl {
  margin: 0;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0 5px;
}

.results-header dd {
  margin-left: 0;
}

.results-header span:not(:last-child):after {
  content: ", ";
  display: inline-flex;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table + table {
  margin-top: 3rem;
}

caption {
  /* border-top: 1px solid #cacaca; */
  padding-block: 1.5rem 1rem;
  caption-side: top;
  text-align: left;
  font-size: 0.85rem;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
}

caption span {
  display: inline-block;
  margin-right: 0.5rem;
  font-size: 1.5rem;
  color: #f18f2e;
  text-transform: none;
  letter-spacing: normal;
}

th, td {
  padding: 0.25rem;
  font-family: ui-monospace, 
             Menlo, Monaco, 
             "Cascadia Mono", "Segoe UI Mono", 
             "Roboto Mono", 
             "Oxygen Mono", 
             "Ubuntu Monospace", 
             "Source Code Pro",
             "Fira Mono", 
             "Droid Sans Mono", 
             "Courier New", monospace;
}

tr:nth-child(odd) > td {
  background-color: #f1f5f9;
}

tr:hover > td {
  background-color: lightgoldenrodyellow;
}


/* CONTACT */
.form-control {
  display: block;
  width: 100%;
  background-clip: padding-box;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  color: #495057;
  font-size: 1rem;
  height: calc(2.25rem + 2px);
  line-height: 1.5;
  padding: 0.9rem;
  -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

@media screen and (prefers-reduced-motion: reduce) {
  .form-control {
    -webkit-transition: none;
    transition: none;
  }
}

.form-control::-ms-expand {
  background-color: transparent;
  border: 0;
}

.form-control:focus {
  background-color: #fff;
  border-color: #80bdff;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  color: #495057;
  outline: 0;
}

.form-control::-webkit-input-placeholder {
  color: #6c757d;
  opacity: 1;
}

.form-control::-moz-placeholder {
  color: #6c757d;
  opacity: 1;
}

.form-control:-ms-input-placeholder {
  color: #6c757d;
  opacity: 1;
}

.form-control::-ms-input-placeholder {
  color: #6c757d;
  opacity: 1;
}

.form-control::placeholder {
  color: #6c757d;
  opacity: 1;
}

textarea.form-control {
  height: auto;
}

label {
  display: block;
  margin-top: 25px;
  font-weight: 600;
}
