<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>
      {{ title + ' | ' + site.title }}
    </title>
    <meta name="description" content="{{ site.meta_desc }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ '/css/styles.css' | url }}" />
  </head>
  <body>
    <div class="page-rapper">
      {% include "header.njk" %}
      <main class="site-main" role="main">
        {{ content | safe }}
      </main>
      {% include "footer.njk" %}
    </div>
  </body>
</html>
