  <div class="mt-4">
    <a href="https://ultrasignup.com/register.aspx?eid=10691" class="btn btn-register" target="_blank">
      <span>Register now!</span>
      <i class="fa fa-arrow-circle-right"></i>
    </a>
  </div>