{% extends 'layouts/base.njk' %}

{% block main %}

  {% if hasSidebar === true %}

    <div class="row mt-4">
      <div class="col-sm-8">
        {{ content | safe }}
        {% if registration.is_open === true %}
          {% include "partials/registration_button.njk" %}
        {% endif %}
      </div>
      <div class="col-sm-4">
        {% if page.url === '/important-info/' %}
          <img src="/images/IMG_5089.jpg" width="600" height="800" alt="Puncheon bridge in the spruce forest" class="img-fluid">
        {% elif page.url === '/registration-schedule/' %}
          <img src="/images/IMG_5100.jpg" width="350" height="263" alt="The old logging road on which the course starts">
          <img src="/images/IMG_50941.jpg" width="350" height="263" alt="Course atop Mount Crescent" class="mt-5">
        {% endif %}
      </div>
    </div>

  {% else %}

    {% if page.url === '/sponsors/' %}

      <h1>Sponsors</h1>

      <div class="sponsors">
        {% for sponsor in sponsors %}
          <a href="{{ sponsor.link }}" target="_blank">
            <img src="{{ sponsor.logo_file }}" width="{{ sponsor.logo_width }}" height="{{ sponsor.logo_height }}" alt="{{ sponsor.name }} logo">
          </a>
        {% endfor %}
      </div>

    {% endif %}

    {{ content | safe }}

    {% if page.url === '/' or page.url === '/course/' %}

      {% if registration.is_open === true %}
        {% include "partials/registration_button.njk" %}
      {% endif %}

    {% endif %}

    {% if page.url === '/' %}
      <div class="row mt-4 pt-4">
        <figure class="col-lg-6">
          <img src="/images/IMG_5085.jpg" width="600" height="450" alt="Sunlit mist in the spruce forest near Randolph" class="img-fluid">
        </figure>
        <figure class="col-lg-6">
          <img src="/images/IMG_5052.jpg" width="600" height="450" alt="The Northern Presidentials from Mount Randolph lookout" class="img-fluid mb-4">
        </figure>
      </div>
    {% elif page.url === '/course/' %}

      <img src="{{ course_map }}" alt="Course map" class="mt-5">


    {% elif page.url === '/contact/' %}

      {% include "partials/contact-form.njk" %}

    {% endif %}

  {% endif %}

{% endblock %}

