
<form name="contact" netlify-honeypot="fu" action="/contact/thank-you/" netlify>
  <div hidden>
    <label>Don’t fill this out: <input name="fu"></label>
  </div>
  <label for="name">
    Name
  </label>
  <input class="form-control" type="text" id="name" name="name">
  <label for="email">
    Email
  </label>
  <input class="form-control" type="email" id="email" name="email">
  <label for="message">
    Your message
  </label>
  <textarea class="form-control" id="message" name="message" rows="10"></textarea>
  <button class="btn btn-register" style="margin-top:25px;">
    Send
  </button>
</form>
