{% set currentUrl %}{{ page.url }}{% endset %}

<header class="site-header" role="banner">
  <div class="row">
    <div class="col-sm-6 text-center text-sm-left mb-3">
      <a href="/">
        <img src="/images/Randolph-Ramble-Logo.png" class="img-fluid" alt="Randolph Ramble Logo">
      </a>
    </div>
    <div class="col-sm-6 social-nav">
      <a href="https://www.facebook.com/randolphramblerace" class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
      </a>
    </div>
  </div>
  <ul class="list-unstyled pt-4 text-center text-md-left">
    {% for item in site.navigation %}
    <li class="md-menu-item{% if currentUrl === item.slug %} active{% endif %}">
      <a href="{{ item.slug }}"{% if currentUrl === item.slug %} aria-current="page"{% endif %}>
        {{ item.title }}
      </a>
    </li>
    {%- endfor %}
  </ul>
</header>
