
<div class="mt-4">
  <a href="{{ site.registration_link }}" class="btn btn-register" target="_blank">
    <span class="mr-2">Register now!</span>
    <i class="fa fa-arrow-circle-right"></i>
  </a>
</div>
